@{
    ViewData["Title"] = "Brands";
}

<header class="text-center mb-5">
    <h1 class="display-4">Our Top Brands</h1>
    <p class="lead">Discover the brands you love</p>
</header>

<section class="brands-grid">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 mb-4">
                <div class="brand-card">
                    <div class="brand-image-wrapper">
                        <img src="/images/brands/clothing.jpg" alt="Brand 1" class="img-fluid default-image">
                        <img src="/images/clothing/2.jpg" alt="Brand 1 Hover" class="img-fluid hover-image">
                    </div>
                    <h5 class="brand-name text-center mt-3">Clothing</h5>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="brand-card">
                    <div class="brand-image-wrapper">
                        <img src="/images/brands/shoes.jpg" alt="Brand 2" class="img-fluid default-image">
                        <img src="/images/shoes/2.jpg" alt="Brand 2 Hover" class="img-fluid hover-image">
                    </div>
                    <h5 class="brand-name text-center mt-3">Shoes</h5>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="brand-card">
                    <div class="brand-image-wrapper">
                        <img src="/images/brands/accessories.jpg" alt="Brand 3" class="img-fluid default-image">
                        <img src="/images/accessories/2.jpg" alt="Brand 3 Hover" class="img-fluid hover-image">
                    </div>
                    <h5 class="brand-name text-center mt-3">Accessories</h5>
                </div>
            </div>
        </div>
    </div>
</section>
