@{
    ViewData["Title"] = "Privacy";
}

<div class="container">
    <h1 class="my-4">Privacy Policy</h1>
    <p>Welcome to Hosoren! We value your privacy and are committed to protecting your personal data. This Privacy Policy outlines how we collect, use, and safeguard your information.</p>

    <h2>1. Information Collection</h2>
    <p>We collect personal data such as your name, email address, and payment details when you make a purchase or register on our website.</p>

    <h2>2. Use of Information</h2>
    <p>Your personal data is used to process your orders, communicate with you, and enhance your shopping experience. We may also send promotional emails with your consent.</p>

    <h2>3. Data Security</h2>
    <p>We implement various security measures to ensure your personal information is protected. However, no method of data transmission over the internet is completely secure, and we cannot guarantee full security.</p>

    <h2>4. Cookies</h2>
    <p>Our website uses cookies to improve functionality and provide a personalized experience. You can disable cookies in your browser settings if you prefer.</p>

    <h2>5. Sharing of Information</h2>
    <p>We do not sell, trade, or share your personal data with third parties, except as necessary to fulfill orders or comply with legal requirements.</p>

    <h2>6. Your Rights</h2>
    <p>You have the right to access, correct, or delete your personal data. For any inquiries or to exercise your rights, please contact us at support@hosoren.com.</p>

    <h2>7. Changes to this Policy</h2>
    <p>We may update this Privacy Policy from time to time. Please check this page periodically for any changes.</p>

    <p>By using our website, you agree to this Privacy Policy.</p>
</div>